<div data-mnv="ukelmap" class="mnv-widget mnv-map-uk-election-2017-election-night"></div>
<style>
.minerva, .minerva-nav, #perfBar{
  display: none;
}
.mnv-map-uk-election-2017-election-night {
  width: 100%;
}

html > body {
	background: gray;
}
</style>
